{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table>
        <thead>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>{{ stock.price | usd}}</td>
                </tr>
            {% endfor %}
            <tr>Cash Left: {{ cash | usd}}</tr>
        </tbody>
    </table>
{% endblock %}