{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action = "/sell" autcomplete="off" method="POST">
        <label for="symbol">Select a Stock:</label>
        <select name="symbol">
            {% for stock in stocks %}
                <option value="{{ stock.symbol }}">{{ stock.symbol }}</option>
            {% endfor %}
        </select>

        <input name="shares" placeholder="Shares" type="number">
        <button name="submit" type="submit">Submit</button>
    </form>
{% endblock %}